.login {
  background-image: url("/src/assets/svg/login-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: var(--lh-5);
}

.login__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color:var(--wh-color-gray-5);
  border-radius: 10px;
  margin: auto;
  max-width: 500px;
  padding: var(--lh) var(--lh-4);
  align-items: center; 
}

.login__title {
  color: var(--wh-color-secondary);
  text-align: center;
}

.login__form-label {
  padding: var(--lh-half);
}

.login__form-input {
  padding: var(--lh-half);
  margin-bottom: var(--lh);
  border: solid 1px var(--wh-color-gray-4);
  border-radius: 8px;
}

.login__form button{
  width: 100%;
}

