.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1 1 100%;
}

.login__form {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .login__form-container {
    display: flex;
    flex-direction: column;
  }

  .login__form-label{
    flex: 1 1 100%;
  }

  .login__form-input{
    flex: 1 1 100%;
    margin-right: var(--lh);
  }

  .login__form-select{
    width: 100%;
  }
}
