 .interaction_cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
}