.wh-button {
  display: block;
  padding: var(--lh-half) var(--lh);
  border-radius: 18px;
  border: none;
  font-size: var(--lh);
  text-align: center;
  text-decoration: none;
}

.wh-button:hover {
  cursor: pointer;
}

.wh-button--primary {
  color: var(--wh-color-gray-5);
  background-color: var(--wh-color-primary);
}

.wh-button--secondary {
  color: var(--wh-color-gray-5);
  background-color: var(--wh-color-secondary);
}

.wh-button--sm {
  font-size: var(--fs-sm);
  padding: var(--lh-quarter) var(--lh-half);
}

.wh-button--lg {
  font-size: var(--fs-lg);
  padding: var(--lh-half) var(--lh-2);
}
