:root {
  font-size: var(--fs-md);
  font-family: Arial, Helvetica, sans-serif;
}

/* resets */

body {
  padding: 0;
  margin: 0;
}

.wh-text-center {
  text-align: center;
}

.wh-fs-xxs {
 font-size: var(--fs-xxs);
}

.wh-fs-xs {
 font-size: var(--fs-xs);
}

.wh-fs-sm {
 font-size: var(--fs-sm);
}
.wh-fs-md {
 font-size: var(--fs-md);
}
.wh-fs-lg {
 font-size: var(--fs-lg);
}
.wh-fs-xl {
 font-size: var(--fs-xl);
}
.wh-fs-xxl {
 font-size: var(--fs-xxl);
}
