.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f9ff;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #85afde;
    padding: var(--lh) var(--lh);
    margin: var(--lh-half) var(--lh-half);
    width: 250px;
    height: 150px; 

    .img-container {
      margin-right: var(--lh);
      max-width: 120px;

      img {
        width: 100%;
      }
    }

    .userName {
      color: #4a90e2;
      margin: var(--lh-half) 0;
    }

    .userRol {
      margin: var(--lh-half) 0;
    }

    .userHourlyRate {
      color: #969696;
      margin: var(--lh-half) 0;
    }

    .userRatings {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 50px;
      margin: 0;
    }
  }
}
