/* .close-menu {
  background-image: url("/src/assets/svg/hamburger-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
} */

.nav-container{
  background-color: #f4f9ff;
  border-bottom: solid 1px #4a90e2;
}

.nav {
  background-color: #f4f9ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0.2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;

  .nav__links {
    display: none;
  }

  .nav__links--open {
    background-color: #f4f9ff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .nav__link {
    margin: 0 0.7rem;
    color: #0d084d;
    font-weight: 600;
    margin: 1rem 0;
  }

  &__link:hover {
    cursor: pointer;
    color: #4a90e2;
  }

  &__links .base-button {
    margin: 0.5rem 0;
  }
}

@media screen and (min-width: 600px) {
  .display-none {
    display: none;
  }

  .nav {
    .nav__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .nav__link{
      padding: 0 1rem;
    }

  }
}
