:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.baseButton {
  display: block;
  padding: 0.5em 1em;
  background-color: #4a90e2;
  color: #f4f9ff;
  border-radius: 1em;
}

/* COLOR CLASES */

.bg-Darkblue {
  background-color: #0d084d;
}

/* CARDS STYLES */

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f4f9ff;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #85afde;
  padding: 0 20px;
  margin: 10px 10px;
}

.cards .card .img-container {
  margin-left: 20px;
  max-width: 100px;
}

.cards .card .img-container img {
  width: 100%;
}

.cards .userData {
  margin-left: 20px;
  margin-right: 20px;
}

.cards .card .userName {
  color: #4a90e2;
}
.cards .card .userData .userHourlyRate {
  color: #969696;
  margin: 0;
}

.cards .card .userRatings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60px;
}
